---
export interface Props {
    headline: string,
    body: string,
}
const {headline, body} = Astro.props as Props;
---
<article>
    <div class="flex justify-center">
        <div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm">
            <h3 class="text-gray-900 text-xl leading-tight font-medium mb-2">{headline}</h3>
            <p class="text-gray-700 text-base">{body}</p>
        </div>
    </div>
</article>
