---

---
<div class="bg-white">
	<nav class="container mx-auto py-2 flex justify-between">
			<span>
			  <a
				  href="/"
				  class="text-3xl font-bold px-4 inline-block"
			  >
				Astro Demo
			</a>
			</span>
		<ul class="flex flex-row">
			<li class="flex flex-col justify-end">
				<a
					href="/page-one"
					class="px-4 uppercase tracking-wider font-bold hover:text-gray-400"
				>
					Page One
				</a>
			</li>
			<li class="flex flex-col justify-end">
				<a
					href="/page-two"
					class="px-4 uppercase tracking-wider font-bold hover:text-gray-400"
				>
					Page Two
				</a>
			</li>
		</ul>
	</nav>
</div>
